CLUSTER_FQDN: {{ requiredEnv "CLUSTER_FQDN" }}
DEX_NAME: {{ requiredEnv "DEX_NAME" }}
DEX_SECRET: {{ requiredEnv "DEX_SECRET" }}
GOOG_ALLOWED_DOMAIN: {{ requiredEnv "GOOG_ALLOWED_DOMAIN" }}
GOOG_CLIENT_ID: {{ requiredEnv "GOOG_CLIENT_ID" }}
GOOG_CLIENT_SECRET: {{ requiredEnv "GOOG_CLIENT_SECRET" }}
ZEROSSL_EAB: {{ requiredEnv "ZEROSSL_EAB" }}
ZEROSSL_EMAIL: {{ requiredEnv "ZEROSSL_EMAIL" }}
ZEROSSL_KID: {{ requiredEnv "ZEROSSL_KID" }}